.locations-picker {
    position: absolute;
    top: -92px;
    width: auto;
    right: 0px;
}
span{
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    margin-right: 10px;
    position: relative;
    top: 3px;
}
mat-form-field{
    margin-right: 10px;
    position: relative;
    top: 2px;
}


